<h1>Scan in New Item</h1>



<%= form_for(@scan_item) do |f| %>
    <% if @scan_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@scan_item.errors.count, "error") %> prohibited this scan_item from being saved:</h2>

          <ul>
            <% @scan_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h1 class='<%= @item_in_inv %>'><%= @message %></h1>

    <p>Current Scan Id: <%= @scan_id.inspect %></p>

    <div class="field">
      <%= hidden_field_tag 'parent_scan_id', @scan_id.to_i %>
    </div>

    <div class="field">
      <%= f.label :item_sku %><br />
      <%= f.text_field :item_sku %>
    </div>
    <script type="text/javascript" language="JavaScript">
        document.forms['new_scan_item'].elements['scan_item[item_sku]'].focus();
    </script>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back to Scanned Items', scan_path(@scan_id) %>
