<p id="notice"><%= notice %></p>

<p>
  <b>Item sku:</b>
  <%= @scan_item.item_sku %>
</p>

<p>
  <b>Quantity:</b>
  <%= @scan_item.quantity %>
</p>

<p>
  <b>In inventory:</b>
  <%= @scan_item.in_inventory %>
</p>


<%= link_to 'Edit', edit_scan_item_path(@scan_item) %> |
<%= link_to 'Back', scan_items_path %>
