<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @scan.title %>
</p>

<p>
  <b>Finished:</b>
  <%= @scan.finished %>
</p>

<p>
  <b>Imported:</b>
  <%= @scan.imported %>
</p>

<p>
  <b>Date Added:</b>
  <%= @scan.created_at %>
</p>

<p>
  <b>Last Updated:</b>
  <%= @scan.updated_at %>
</p>


<%= link_to 'Edit', edit_scan_path(@scan) %> |
<%= link_to 'Back', scans_path %>
