<h1>Inventory File Export</h1>
<p>This will export all of the data from the selected scan batch.<br></p>

<h1>Listing Finished Scan Batches</h1>

<table>
  <tr>
    <th>Batch ID</th>
    <th>Title</th>
    <th>Imported?</th>
    <th>Date Added</th>
    <th>Last Updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @finished_scans.each do |scan| %>
      <tr>
        <td><%= scan.id%></td>
        <td><%= scan.title %></td>
        <td class='<%= scan.imported %>'><%= scan.imported %></td>
        <td><%= scan.created_at %></td>
        <td><%= scan.updated_at %></td>
        <td><%= link_to 'Scan Items/View Batch', scan %></td>
        <td><%= link_to 'Edit', edit_scan_path(scan) %></td>
        <td><%= link_to 'Destroy', scan, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<%= form_for @scan_batch do |f|%>
<p>
  Scan batch id to export:
  <%= f.text_field :scan_id %>
  <%= f.select :export_name, :choices => ["In Inventory","Not in Inventory"] %>
  <%= f.submit 'Generate In Inventory File' %><br/>
  Please wait, data export may take a few minutes...
</p>
<% end %>
<%= link_to 'Go to Scan Batches', scans_path %> |
<%= link_to 'Go Home', welcome_index_path %>